* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html,
body {
    height: 100%;
}

.container {
    width: 90%;
    max-width: 80rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    max-width: 8.33333%;
}

.col-2 {
    max-width: 16.66667%;
}

.col-3 {
    max-width: 25%;
}

.col-4 {
    max-width: 33.33333%;
}

.col-5 {
    max-width: 41.66667%;
}

.col-6 {
    max-width: 50%;
}

.col-7 {
    max-width: 58.33333%;
}

.col-8 {
    max-width: 66.66667%;
}

.col-9 {
    max-width: 75%;
}

.col-10 {
    max-width: 83.33333%;
}

.col-11 {
    max-width: 91.66667%;
}

.col-12 {
    max-width: 100%;
}